@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('img/background.jpg');

    /* Full height */

    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:720px) and (min-width:300px){
    .parallax {
        background-attachment:scroll;
    }
    
}



.parallax2 {
    /* The image used */
    background-image: url("img/test-image.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-custom {
    text-shadow: 2px 2px 5px black;
}

.small-6 {
    width: 80%;
}

.samll-7 {
    width: 100%;
}


@media screen and (max-width: 1980px) and (min-width:200px) {
    .about-img {
        background: transparent url('img/aboutImg1.jpg') 0 0 no-repeat;
        height: 80%;
    }

    .about-img2 {
        background: transparent url('img/image1.jpg') 0 0 no-repeat;
        height: 80%;
    }
}

.portfolio-item {
    margin-bottom: 5%;
}

@media screen and (max-width: 1980px) and (min-width:480px){
    .contact-div {
        margin-left: 20%;
    }
}

@media screen and (min-width:480px) {
    .contact-div {
        margin-left: 18%;
    }
}

.parallax3 {
    /* The image used */
    background-image: url('img/image1.jpg');

    /* Full height */

    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:720px) and (min-width:300px){
    .parallax3 {
        background-attachment:scroll;
    }
    
}